@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css');
@import url('https://rsms.me/inter/inter.css');

body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11', 'zero';
    box-sizing: border-box;
}
body * {
    box-sizing: inherit;
}

:root {
    --cBase: 235 235 245;
    --cBaseText: 31 38 64;
    --cBaseL1: 244 244 252;
    --cBaseL1Text: 31 38 64;
    --cBaseL2: 255 255 255;
    --cBaseL2Text: 31 38 64;
    --cBaseL2Shadow: 0 5px 10px rgb(0 0 0 / .06);
    --cBaseBorder: 0 0 0 / .15;
    --cTheme: 0 0 0;
    --cThemeDark: 10 88 202;
    --cThemeText: 255 255 255;
    --cThemeBackdrop: var(--cTheme, 0 0 0) / .088;
    --cThemeShadow: 0 5px 10px rgb(0 0 0 / .22);
}